p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    width: 100%;
    margin: 0 auto;
}

.location {
    display: flex;
    align-items: center;
}

.location-name {
    font-size: 2rem;
}


.temp, .weather-description {
    font-weight: 700;
    margin: 0;
}

.primary {
    color: #ffd700;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.07);
}

.bold {
    font-weight: 700;
}

.trashButton {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    background: inherit;
    -webkit-transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

.trashButton:hover, .trashButton:focus {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.weatherIcon {
    width: 3rem;
    height: 3rem;
}

