a {
    cursor: pointer;
    -webkit-transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

a.active {
    background-color: #3498db;
}

.page-link:hover, .page-link:focus {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}