* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('assets/img/background.jpg') no-repeat center center/cover fixed;
}

body::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.app {
    width: 100%;
   /* height: 100%;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    color: #ffffff;
}

.app .search {
    text-align: center;
    padding: 1rem;
}

.app input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
    outline:none;
}


::placeholder {
    color: #f8f8f8;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.temp, .weather-description {
    font-weight: 700;
    margin: 0;
}

.app .top {
    width: 100%;
    margin: 0 auto;
}

.location {
    display: flex;
    align-items: center;
}

.location-name {
    font-size: 2rem;
}

.primary {
    color: #ffd700;
}

.app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.bold {
    font-weight: 700;
}

.searchButton {
    margin-left: 1rem;
    width: 3.4rem;
    height: 3.4rem;
    background: inherit;
    border: 1px solid #f8f8f8;
    border-radius: 15%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.searchButton:hover, .searchButton:focus {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.trashButton {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    background: inherit;
    -webkit-transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

.trashButton:hover, .trashButton:focus {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.weatherIcon {
    width: 3rem;
    height: 3rem;
}


@media screen and (max-width: 576px) {
    input {
        width: 80%;
    }

    .description {
        flex-direction: column;
    }

    .searchButton {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100vw;
    }

    .location-name {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .trashButton {
        width: 2rem;
        height: 2rem;
    }
}

/*
@media screen and (min-width: 769px) and (max-width: 992px) {
    .location-name {
        font-size: 3rem;
    }
}*/


.loader {
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    /*perspective: 800px;*/
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

a {
    cursor: pointer;
}
a.active {
    background-color: #3498db;
}

a.active:hover, a.active:focus {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
